@import 'tailwindcss';

@theme {
	--font-sans: 'Space Grotesk', sans-serif;
	--font-mono: 'IBM Plex Mono', monospace;

	--color-brand-primary: var(--color-amber-500);
	--color-brand-secondary: var(--color-cyan-500);
	--color-brand-surface: var(--color-slate-900);
	--color-brand-surface-elevated: var(--color-slate-800);
}

@layer base {
	html,
	body {
		@apply h-full w-full;
	}
}
